{% extends "template/base.twig" %}
{% block content %}
<div class="ed-container full">
        <div class="ed-item s-100">
            <h4>Objetos de {{ nucleo.name | capitalize | replace( {'.': ''})  }}</h4>
        </div>
        <div class="ed-item s-100">
            <ul>
            {% for o in nucleo.objetos %}
                <li><h5><a href="{{ path_for('object.home.show', {'area' : nucleo.area.id, 'nucleo' : nucleo.id, 'object': o.codigo_objeto }) }}">{{ o.objeto.titulo | capitalize | replace({'.' : ''})  }}</a></h5></li>
            {% endfor %}
            </ul>
        </div>
    </diV>
{% endblock %}
