{% if flash.getMessage('info') %}
    <div class="ed-container full">
        <div class="ed-item s-100">
            <div class="card-panel blue">
            <span class="white-text">{{  flash.getMessage('info') | first | capitalize  }}</span>
            </div>
        </div>
    </div>
{% endif %}

{% if flash.getMessage('error') %}
    <div class="ed-container full">
        <div class="ed-item s-100">
            <div class="card-panel red">
            <span class="white-text">{{  flash.getMessage('error') | first | capitalize  }}</span>
            </div>
        </div>
    </div>
{% endif %}
