<li class="step">
    <div class="step-title waves-effect">Ciclo de vida</div>
        <div class="step-content ed-conatiner">
        <div class="input-field ed-item s-100">
            <input type="text" name="cycle[version]" value="{{ object.version }}">
            <label for="version">Version</label>
        </div>
        <div class="input-field ed-item s-100">
            <input type="text" name="cycle[estado]" value="{{ object.estado }}">
            <label for="estado">Estado</label>
        </div>
        <div class="input-field ed-item s-100">
            <input type="text" name="cycle[contribuyente]" value="{{ object.contribuyente }}">
            <label for="contribuyente">Contribuyente</label>
        </div>
        <div class="input-field ed-item s-100">
            <input type="text" name="cycle[cambio_registro]"  value="{{ object.cambio_registro }}">
            <label for="cambio_registro">Cambio de registro</label>
        </div>
        <div class="step-actions">
            <button class="waves-effect waves-dark btn blue next-step">CONTINUE</button>
            <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
        </div>
    </div>
</li>