<div class="ed-item s-100 ed-container no-padding">
    <a href="#" id="saveFile">Actualizar archivo</a><br>
    <div id="fileContent" class="ed-item s-100 none">
        <div class="input-field file-field">
            <div class="btn">
                <span>Archivo</span>
                <input type="file" name="archive" class="archive" accept=".zip, .rar" required>
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
    </div>
</div>
