{% extends "template/baseAdmin.twig" %}
{% block content %}
    <h4>Objeto</h4>
    {% if object.id %}
        <form action="{{ path_for('object.update', {"id" : object.id }) }}" method="post" class="ed-container" autocomplete="off" enctype="multipart/form-data">
    {% else %}
        <form action="{{ path_for('object.store') }}" method="post" class="ed-container" autocomplete="off" enctype="multipart/form-data">
    {% endif %}
    <ul class="stepper full-w">
        {% include "admin/object/general.twig" %}
        {% include "admin/object/cycle.twig" %}
        {% include "admin/object/meta.twig" %}
        {% include "admin/object/technic.twig" %}
        {% include "admin/object/education.twig" %}
        {% include "admin/object/copyright.twig" %}
    </ul>
    </form>
{% endblock %}